@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px 0;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    &__list {
        display: flex;
        gap: 10px;
        color: #000;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
    } 
}

.header__inner {
    background-color: #ff5e15;
    padding: 20px 0;
}

.menu {
    display: flex;
    gap: 40px;
    &__link {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        text-transform: uppercase;
        transition: all .3s;
        &:hover {
            color: #000;
        }
    }
}